{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Página</title>
    <link rel="stylesheet" href="{% static 'css/hola_mundo.css' %}">
</head>
<body>
    <h1>Hola Mundo</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure consequatur voluptas earum perferendis laboriosam delectus, at, atque rem ipsa eius qui est voluptatem dignissimos neque voluptates perspiciatis maiores ipsam nobis?</p>
</body>
</html>
